.container {
    background-color: whitesmoke;
    text-align: center;
    width: 280px;
    padding-top: 30px;
}

.logoContainer {
    /* margin: 60px; */
    margin-bottom: 50px;
}

.logo {
    object-fit: cover;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link {
    color: black;
    text-decoration: none;
    padding: 15px;
    font-weight: var(--semi-bold);
}

.active {
    background-color: white;
    font-weight: var(--bold);
}

